.header {
  max-width: calc(100% - 398px);
  height: 73px;
  margin: 45px auto 40px;
  border-bottom: 1px solid #545454;
  padding: 0;
}

.header__logo {
    width: 173px;
    height: 33px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 984px) {
  .header {
    margin: 28px auto 40px;
    min-height: 56px;
    min-width: 100vw;
  }

  .logo {
    min-width: 126px;
    min-height: 24px;
    margin-left: 27px;
  }
}