.profile {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  max-width: calc(100% - 398px);
  min-height: 120px;
  padding: 0;
  margin: auto;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  clip-path: circle(60px at center);
}

.profile__avatar-image {
  width: 100%;
  height: 100%;
}

.profile__info {
  max-width: calc(100% - 321px);
  margin-left: 30px;
}

.profile__info-content {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 17px;
}

.profile__info-name {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #ffffff;
}

.profile__info-about {
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

.profile__editButton {
  min-width: 23px;
  min-height: 23px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__editButton:hover {
  opacity: 0.5;
}

.profile__editButton-image {
  width: 15px;
  height: 15px;
  margin: auto;
}

.profile__addButton {
  position: absolute;
  right: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  transition: opacity 0.3s ease-in-out;
  color: inherit;
  cursor: pointer;
}

.profile__addButton:hover {
  opacity: 0.5;
}

@media screen and (max-width: 984px) {
  .profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: calc(100% - 38px);

    padding: 0;
    margin: auto;
  }

  .profile__info {
    width: fit-content;
  }

  .profile__info-content {
    width: max-content;
    gap: 12px;
    margin: 0;
  }

  .profile__info-name {
    text-align: center;
    font-size: 22px;
  }

  .profile__info-about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }

  .profile__editButton {
    min-width: 18px;
    min-height: 18px;
    padding: 0;
    margin: 0;
  }

  .profile__editButton-image {
    width: 10px;
    height: 10px;
    margin: auto;
  }

  .profile__addButton {
    margin-top: 36px;
    display: block;
    position: static;
    width: 282px;
  }
}

@media screen and (max-width: 569px) {
  .profile__info {
    max-width: fit-content;
    margin-left: 0;
  }

  .profile__info-name {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
  }
}
